
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
#loading{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: black
    url('/images/Spinner-dark.gif') no-repeat center;
    background-size: 100px;
    z-index: 9999;
}

body{
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;

}

nav{
    width: auto;
    margin: 9px;
    padding: 0px 20px 0px 20px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    background-color:black;
    color: white;
    z-index: 99999;
}
nav .logo{
    font-family: 'Architects Daughter', cursive;
    margin: 10px;
    font-size: 25px;
    font-weight: bold;
}
nav .logo .logo-span{
    color:crimson; 
    font-family: 'Architects Daughter', cursive; font-size: 25px; 
    font-weight: bold;
}

nav ul{
    display: flex;
    list-style: none;
}
nav ul li a{
    background-color: rgb(27, 27, 27);
    padding: 8px 15px;
    border-radius: 1000px;
    font-weight: bold;
    text-decoration: none;
    color: white;
    margin: 10px;
}
nav ul li a:hover{
    background-color: crimson;
}
#click:checked ~ul{
    left: 0%;
}

nav .menu-btn i{
    color: white;
    font-size: 20px;
    cursor: pointer;
    display: none;
}
#click{
    display: none;
}

@media (max-width: 660px) {
    

    nav .menu-btn i{
        display: block;
    }
    #click:checked ~ .menu-btn i::before{
        content: "\f00d";
        color: white;
    }
    nav ul{
        padding-top: 100px;
        position: fixed;
        top: 45px;
        background: black;
        height: 200vh;
        left: -100%;
        width: 100%;
        display: block;
        text-align: center;
        transition: all 0.5s ease;

    }
    nav ul li{
        margin: 50px 0;
    }
    nav ul li a{
        background-color: rgb(27, 27, 27);
        padding: 10px 20px;
        border-radius: 1000px;
        font-weight: bold;
        text-decoration: none;
        color: white;
        font-size: 20px;
    } 
  
}
/* ---------------------------------main */
.container1{
    height: 85vh;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: auto;
    /* margin-bottom: 30px; */
    /* margin-top: 20px; */
}

.container1 .left-side{
    display: inline-flexbox;
    width: 50%;
    justify-content:space-between;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: auto;
        
}


.container1 .right-side{

    display: flex;
    width: 40%;
    justify-content: right;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    justify-content: space-between;
}
.container1 .right-side img{
    /* margin-top: 50px; */
    border-radius: 1000px;
}
.container1 .left-side .intro{
    text-align: center;
}
 .container1 .left-side .intro h1{
    color: crimson; 
    font-family: 'Architects Daughter', cursive; font-weight: bold; 
}
.container1 .left-side .intro p{
    margin-bottom: 25px; 
    font-weight: bold; 
}
.container1 .left-side #sec-span{
  
    background-color: rgb(27, 27, 27);
    padding: 8px 15px; 
    font-weight:bold; 
    border-radius: 100px;  
    
}
.container1 .left-side #sec-span a{
   text-decoration: none;
   color: white;
}
.container1 .left-side #sec-span:hover{
    text-decoration: none;
    background-color: rgb(245, 11, 58);
    border: 0;
 }

@media (max-width: 660px){
    
    .container1{
        font-family: Arial, Helvetica, sans-serif;
        /* margin-top: 20px; */
        text-align: center;
        display: inline-flex;
        flex-direction: column-reverse;
        justify-items: center;
        justify-self: center;
        /* margin: 0;
        padding: 0; */
    }

    .container1 .left-side{
        width: 100%;
    }
    .container1 .right-side{
        width: 100%;  
        display: flex;
        align-items: center;
        /* margin-top: 20px; */
        text-align: center;
        display: inline-flex;
        flex-direction: column-reverse;
        justify-items: center;
        justify-self: center;
        /* padding-bottom: 50px; */

    }
    .container1 .right-side img{
        border-radius: 1000px;
            /* margin-left: 0px; */
    
    }
    .container1 .left-side .intro h1{
        color: crimson; 
        font-family: 'Architects Daughter', cursive; font-weight: bold; 
    }
    .container1 .left-side .intro p{
        display: flex;    
    }
    .container1 .left-side #sec-span{
  
        background-color: rgb(27, 27, 27);
        padding: 15px 20px; 
        font-weight:bold; 
        border-radius: 100px;  
        
    }

}


/* --------------------------------------CONTAINER2 projectsS */

.container2{
    background-color: white;
    color: rgb(27, 27, 27);
    height: 90vh;
    font-size: 30px;

    
}
.container2 .project{
    position: relative;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
   padding-top: 30px;  
}
.container2 ul{
    display: flex;
    justify-content: center;
    list-style: none;
    margin-left: auto;
    margin-right: auto;
    font-size: medium;
}
.container2 ul li a{
    display: flex;
    padding-left: auto;
    padding-right: auto;
    margin: 10px;
    text-decoration: none;
    color:black;
    margin-top: 20px;
}
.github{
    padding: 10px 20px;
    display: table;
    margin-left: auto;
    margin-right: auto; 
}
.github p{
   font-size: 10px;
   display: table;
   text-decoration: none;
   font-weight: bold;
   color: gray;
    
}

@media (max-width: 660px){
    .container2 ul{
        margin-top: 20px;
        display: table;
    }
    .container2 ul li a{
        
        margin-top: 10px;
         
    }
}
/* ---------------------------container3 About */
.container3{
    width: 100%;
    height: 100vh;
    background-color: rgb(27, 27, 27);
    color: white;
    font-size: 30px;
}

.container3 .about{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
   padding-top: 30px; 
}
.container3 .about p{
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: auto;
}

@media (max-width: 660px){
    
    .container3{
        width: 100%;
        height: 100vh;
        background-color: rgb(27, 27, 27);
        color: white;
        font-size: 30px;
    }
    .container3 .about{
        text-align: center;
        margin-left: auto;
        margin-right: auto;
       padding-top: 30px;
    }
    .container3 .about p{
        margin-left: 10px;
        margin-right: 10px;
    }

}

/* ----------------------------container4 contact */

.container4{
    height: 90vh;
    background-color: whitesmoke;
}