* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
#loading {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: black url("/images/Spinner-dark.gif") no-repeat center;
  background-size: 100px;
  z-index: 9999;
}

body {
  margin: 30px 50px; 
  padding: 0;
  background-color: black;
  color: white;
  font-family: 'Potta One', cursive;
  user-select: none;
}



nav {
  width: auto;
  margin: 9px;
  padding: 0px 20px 0px 20px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  color: white;
  z-index: 99999;
  margin: 30px 50px; 
}
nav .logo {
  font-family: "Architects Daughter", cursive;
  margin: 10px;
  margin-left: 0;
  padding-left: 0;
  font-size: 33px;
  font-weight: bold;
}
nav .logo .logo-span {
  color: crimson;
  font-family: "Architects Daughter", cursive;
  font-size: 25px;
  font-weight: bold;
}

nav ul {
  display: flex;
  list-style: none;
  background-color: black;
}
nav ul li a {
  font-family: sans-serif;
  text-transform: uppercase;
  background-color: black;
  padding: 8px 15px;
  border-radius: 1000px;
  font-weight: Normal;
  text-decoration: none;
  color: white;
  margin: 10px;
 

}
nav ul li a:hover {
  background-color: crimson;

}

#click:checked ~ ul {
  right: 0%;
}

nav .menu-btn i {
  color: white;
  font-size: 20px;
  cursor: pointer;
  display: none;
}
#click {
  display: none;
}
/* ------------------------------------------------------------------ */
/* ------------------------------------------------------------------ */
/* ------------------------------------------------------------------ */
/* ------------------------------------------------------------------ */
/* ------------------------------------------------------------------ */


@media (max-width: 660px) {
    body{
        margin: 10px 0px; 
    }
  nav {
    margin: 5px 25px;
    display: flex;
  }

  nav .menu-btn i {
    position: sticky;
    display: block;
  }
  #click:checked ~ .menu-btn i::before {
    content: "\f00d";
    color: white;
    
  }

  nav ul {
    padding-top: 100px;
    position: fixed;
    top: 45px;
    background: black;
    margin-top: 10px;
    height: 200vh;
    right: -100%;
    width: 100%;
    display: block;
    text-align: center;
    justify-content: left;
    align-content: left;
    z-index: 99999;

    transition: all 0.5s ease;
  }
  nav ul li {
    margin: 50px 0;

  }
  nav ul li a {
    /* background-color: rgb(27, 27, 27); */
    padding: 9px 20px;
  
    border-radius: 1000px;
    font-weight: bold;
    text-decoration: none;
    color: white;
    font-size: 20px;
    background: crimson;
    box-shadow: 0 0 30px crimson;
 
  }
}

/* ------------------------------------------------------------------ *//* ------------------------------------------------------------------ */
/* ------------------------------------------------------------------ */
/* ------------------------------------------------------------------ */
/* ------------------------------------------------------------------ */
/* ---------------------------------main */
.container1 {
  height: 75vh;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  padding-top: 0px;
  padding-bottom: 50px;
}

.container1 .left-side {
  display: flex;
  width: 40%;
  justify-content: left;
  align-content: left;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  margin-top: auto;
}

.container1 .right-side {
  display: flex;
  width: 40%;
  justify-content: center;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: auto;
}
.container1 .right-side img {
    border: crimson 3px solid;
    width: 400px;
    height: 400px;
  border-radius: 50%;
}
.container1 .left-side .intro {
  text-align: left;
}
.container1 .left-side .intro h1 {
  font-size: 70px;
  font-weight: bolder;
  color: rgb(245, 32, 75);
  font-family: "Architects Daughter", cursive;

}
.container1 .left-side .intro h3,
span {
    font-size: 20px;
    font-weight: 500;
    font-family: 'Lato', sans-serif;
  text-transform: none;
  text-align: left;
}
.container1 .left-side .intro p{
    font-family: 'Lato', sans-serif;
  margin-left: -18px;
  margin-bottom: 25px;
  font-weight: 500;
}
.container1 .left-side #sec-span {
  background-color: rgb(20, 10, 10);
  padding: 20px 45px;
  font-weight: bold;
  border-radius: 100px;
}
.container1 .left-side #sec-span a {
    font-size: 20px;
  font-weight: 800;
  text-decoration: none;
  color: white;
}
.container1 .left-side #sec-span:hover {
  text-decoration: none;
  background-color: crimson;
  color: white;
  border: 0;
  color: #111;
  transition: all 1000ms ease-out;
  background: crimson;
  box-shadow: 0 0 50px crimson;

}

@media (max-width: 660px) {
  .container1 {
    padding-top: 50px;
    padding-bottom: 5px;
    height: auto;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    display: inline-flex;
    flex-direction: column-reverse;
    justify-items: center;
    justify-self: center;
    height: 75vh;
  }

  .container1 .left-side {
    width: 90%;
    margin-top: 0;
    text-align: center;
  }
  .container1 .right-side {
    margin-top: 40px;
  }
  .container1 .right-side img {

    width: 250px;
    height:250px;
  border-radius: 50%;
  /* background: crimson; */
  /* box-shadow: 0 0 50px crimson; */
  }
  .container1 .left-side .intro h1 {
    font-size: 45px;
    text-align: center;
    color: crimson;
    font-family: "Architects Daughter", cursive;
    font-weight: bold;

  }
  .container1 .left-side .intro h3{
    text-align: center;
  }
  .container1 .left-side .intro p, #sec-span {
    margin-left: 0px;
    text-align: center;
    justify-content: center;
    display: flex;
    

  }
  .container1 .left-side #sec-span {
    text-align: center;
    /* background-color: rgb(27, 27, 27); */
    padding: 15px 05px;
    font-weight: bold;
    border-radius: 100px;
    background: crimson;
    box-shadow: 0 0 50px crimson;
    margin-bottom: 20px;
    
  }
}

/* --------------------------------------CONTAINER2 projectsS */

.container2 {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: white;
  color: rgb(27, 27, 27);
  height: auto;
  font-size: 30px;

}
.container2 .project {
 font-size: 30px;
 font-weight : bold;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 15px 30px;
  background: rgba(220, 220, 220, 0.279);
  width: fit-content;
  border-radius: 20px;
  margin-bottom: 20px;

}
.container2 ul {
  display: flex;
  justify-content: center;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
  font-size: medium;
}
.container2 ul li a {
  display: flex;
  padding-left: auto;
  padding-right: auto;
  margin: 10px;
  text-decoration: none;
  color: black;
  margin-top: 20px;
}
.github {
  /* padding: 10px 20px; */
  display: table;
  margin-left: auto;
  margin-right: auto;
}
.github a img {
  margin-top: 50px;
  margin-left: 55px;
}
.github p {
  font-size: 10px;
  display: table;
  text-decoration: none;
  font-weight: bold;
  color: gray;
}

@media (max-width: 660px) {
  .container2 {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: white;
    color: rgb(27, 27, 27);
    height: auto;
    font-size: 30px;
  }
  .container2 ul {
    display: table;
  }
  .container2 ul li a {

  }
}
/* ---------------------------container3 About */
.container3 {
  padding-top: 50px;
  padding-bottom: 50px;
  width: 100%;
  height: auto;
  background-color: rgb(31, 31, 31);
  color: white;
  font-size: 30px;
  /* margin-bottom: 100px; */
}

.container3 .about-text {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(35, 35, 35);
  width: fit-content;
  padding: 15px 30px;
  border-radius: 20px;
  
}

.container3 .about p {
  margin-left: 50px;
  margin-right: 50px;
  font-size: 20px; padding: 30px;
}

.container3 .skill {
  border-radius: 20px;
  font-size: 12px;
  background-color: rgb(75, 75, 75);
  border: rgb(87, 87, 87);
  text-transform: uppercase;
  width: 90%;
  margin: 20px auto;
  color: white;
  padding: 30px;
}
.container3 .skill h1,
h3 {
  padding-bottom: 10px;

  text-align: left;
  text-transform: uppercase;
}
.container3 .skill li {
  list-style: none;
  margin: 5px 0;
  padding: 5px;
}
.container3 .skill .bar {
  background: rgb(70, 70, 70);
  display: block;
  height: auto;
  /* border: 2px solid rgb(146, 146, 146); */
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}
.container3 .skill .bar:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.container3 .skill .bar span {
  height: 20px;
  float: left;
  background: linear-gradient(
    135deg,
    rgb(20, 220, 153) 0%,
    rgb(24, 181, 238) 100%
  );
}
.html {
  width: 77%;
  animation: html 3s;
}
.css {
  width: 70%;
  animation: css 3s;
}
.javascript {
  width: 35%;
  animation: javascript 3s;
}
.bootstrap {
  width: 50%;
  animation: bootstrap 3s;
}
.java {
  width: 40%;
  animation: java 3s;
}
.cpp {
  width: 60%;
  animation: cpp 3s;
}

@keyframes html {
  0% {
    width: 0%;
  }
  100% {
    width: 77%;
  }
}
@keyframes css {
  0% {
    width: 0%;
  }
  100% {
    width: 70%;
  }
}
@keyframes javascript {
  0% {
    width: 0%;
  }
  100% {
    width: 35%;
  }
}
@keyframes bootstrap {
  0% {
    width: 0%;
  }
  100% {
    width: 50%;
  }
}
@keyframes java {
  0% {
    width: 0%;
  }
  100% {
    width: 40%;
  }
}
@keyframes cpp {
  0% {
    width: 0%;
  }
  100% {
    width: 60%;
  }
}

@media (max-width: 660px) {
  .container3 {
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
    height: auto;
    background-color: rgb(27, 27, 27);
    color: white;
    font-size: 30px;
  }
  .container3 .about {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    /* padding-top: 30px; */
  }
  .container3 .about p {
    margin-left: 10px;
    margin-right: 10px;
  }
}

/* ----------------------------container4 contact */

.container4 {
  padding-top: 20px;
  padding-bottom: 50px;
  height: auto;
  background-color: black;
}
.container4 .contact {
  white-space: inherit;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
  margin-bottom: 40px;
}
.container4 .form {
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}
.container4 .contactslogo {
  display: flexbox;
}
.input, textarea, button{
    outline : none;
    border: none;
}
